In [7]:
import pandas as pd
import numpy as np
import pyarrow as pa

In [ ]:
df_masterFile = pd.read_parquet('upload.parquet', engine='pyarrow')
#I want to locate the  row in the dataframe where id_name is equal to 'James Turbett'
df_masterFile.loc[df_masterFile['fullid']==197475.0]

In [ ]:
df_uncompleted = pd.read_parquet('uncompleted.parquet',engine='pyarrow')
df_remaining = df_uncompleted[48800:len(df_uncompleted)//2]
df_completed  = pd.read_parquet('merged_complete.parquet',engine='pyarrow')
len(df_remaining)

In [ ]:
completeA = df_remaining[df_remaining['rawText'].notnull()]
incompleteA = df_remaining[df_remaining['rawText'].isnull()]
len(completeA)

In [ ]:
completeA.to_parquet('tobeProcessed.parquet', engine='pyarrow')

In [ ]:
df_processed = pd.read_parquet('processed.parquet',engine='pyarrow')
df_processed

In [ ]:
def getStats(path:str):
    df = pd.read_parquet(path,engine='pyarrow')
    print('Total Number of Records:',len(df))
    df_isProfessor =df[(df['isProfessor']==True)]
    print('Number of Professors:',len(df_isProfessor))
    df_isProfessorWithDept =  df[(df['isProfessor']==True) & (df['department']!='MISSING')]
    print('Number of Professors with Department:',len(df_isProfessorWithDept))
    df_isProfessorWithoutDept =  df[(df['isProfessor']==True) & (df['department']=='MISSING')]
    print('Number of Professors without Department:',len(df_isProfessorWithoutDept))
    print('=====================================')
    print('Percentage of Professors with Department:',len(df_isProfessorWithDept)/len(df_isProfessor)*100)
    print('Percentage of Professors without Department:',len(df_isProfessorWithoutDept)/len(df_isProfessor)*100)
    print('=====================================')

In [ ]:
getStats('processed.parquet')

In [ ]:
def mergeToMaster(path:str):
    df = pd.read_parquet(path,engine='pyarrow')
    df_masterFile = pd.read_parquet('upload.parquet', engine='pyarrow')
    # I want to append the new data which maintains the alphabetical order of the id_name column of the master file
    df_masterFile = pd.concat([df_masterFile,df]).sort_values(by='id_name')
    df_masterFile.to_parquet('upload2.parquet', engine='pyarrow')
    print('Merged Successfully')

In [ ]:
mergeToMaster('processed.parquet')

In [ ]:
df_masterFile = pd.read_parquet('upload2.parquet', engine='pyarrow')
df_masterFile

In [36]:
getStats('comple.parquet')

Total Number of Records: 212454
Number of Professors: 157107
Number of Professors with Department: 127893
Number of Professors without Department: 29214
=====================================
Percentage of Professors with Department: 81.40502969313907
Percentage of Professors without Department: 18.59497030686093
=====================================

In [9]:
df_uncompleted = pd.read_parquet('uncomplete.parquet',engine='pyarrow')
df_uncompleted.head(8000)

,id_text,id_name,id_university,isProfessor,isProfessor2,rawText,department
0,university of california-berkeley,,university of california-berkeley,None,None,[Get step-by-step guidance through the applica...,
1,Aditya purdue university-main campus,Aditya,purdue university-main campus,None,None,"[Aditya Anand Singh, Graduate Student // Polit...",
2,Adler purdue university-main campus,Adler,purdue university-main campus,None,None,[Purdue University College of Science. Purdue ...,
3,Aguilera the university of texas at el paso,Aguilera,the university of texas at el paso,None,None,[Aguilera earned his BS and MS degrees in Micr...,
4,Ahuja purdue university-main campus,Ahuja,purdue university-main campus,None,None,[Education: Purdue University - The Graduate S...,
...,...,...,...,...,...,...,...
7995,Andrea Weiss cuny city college,Andrea Weiss,cuny city college,None,None,None,
7996,Andrea Welch chicago state university,Andrea Welch,chicago state university,None,None,None,
7997,Andrea Whipplesamuel university of california-...,Andrea Whipplesamuel,university of california-berkeley,None,None,None,
7998,Andrea Whitfield east carolina university,Andrea Whitfield,east carolina university,None,None,None,
7999,Andrea Whitley university of north carolina at...,Andrea Whitley,university of north carolina at greensboro,None,None,None,