In [23]:
import pandas as pd
import numpy as np
import pyarrow as pa
from stats import *

In [24]:
df = pd.read_parquet('uncomplete.parquet',engine='pyarrow')
get_chunk_processing_stats(df)

                                Progress Summary
Processed Chunks    Total Chunks        Percentage (%)      Overall Conversion Rate (%)
434                 867                 50.06               49.91

,id_text,id_name,id_university,isProfessor,isProfessor2,rawText,department
86795,Kathleen Mccormick suny cortland,Kathleen Mccormick,suny cortland,None,None,"[Kate McCormick Associate Professor, Kate McCo...",
86796,Kathleen Mccoy arizona state university campus...,Kathleen Mccoy,arizona state university campus immersion,None,None,[Missing: immersion | Show results with: immer...,
86797,Kathleen Mcdermott university of california-be...,Kathleen Mcdermott,university of california-berkeley,None,None,"[Director, Technology Program Office at UC Ber...",
86798,Kathleen Mcdonough suny at fredonia,Kathleen Mcdonough,suny at fredonia,None,None,"[Oct 13, 2016 — If McDonough was not destined ...",
86799,Kathleen Mcdowell university of illinois urban...,Kathleen Mcdowell,university of illinois urbana-champaign,None,None,[Kate McDowell regularly teaches both storytel...,
86800,Kathleen Mcgarry university of california-berk...,Kathleen Mcgarry,university of california-berkeley,None,None,None,
86801,Kathleen Mchale southern illinois university-c...,Kathleen Mchale,southern illinois university-carbondale,None,None,None,
86802,Kathleen Mchugh university of california-berkeley,Kathleen Mchugh,university of california-berkeley,None,None,None,
86803,Kathleen Mcnerney suny buffalo state university,Kathleen Mcnerney,suny buffalo state university,None,None,None,
86804,Kathleen Mcsorley cuny brooklyn college,Kathleen Mcsorley,cuny brooklyn college,None,None,None,

In [4]:
df = pd.read_parquet('uncomplete.parquet',engine='pyarrow')
df

,fullid,id_text,id_name,id_university,isProfessor,rawText,department
0,46.0,A Allaway algoma university,A Allaway,algoma university,None,[Winner of the Archives Association of Ontario...,
1,168.0,A Beckman university of illinois urbana/champaign,A Beckman,university of illinois urbana/champaign,None,[Directory · History of the Beckman Institute ...,
2,377.0,A Clark university of western ontario,A Clark,university of western ontario,None,"[Project Coordinator, Western University - ‪‪C...",
3,494.0,A Dunwoody university of british columbia,A Dunwoody,university of british columbia,None,[Associate Professor. B.A.Sc. (British Columbi...,
4,525.0,A Endres university of illinois urbana/champaign,A Endres,university of illinois urbana/champaign,None,[Dr. Endres studies the adoption of renewable ...,
...,...,...,...,...,...,...,...
35038,592006.0,Zvonimir Poljak university of guelph,Zvonimir Poljak,university of guelph,None,None,
35039,592011.0,Zwart Zwart university of california,Zwart Zwart,university of california,None,None,
35040,592018.0,Zwick Zwick university of california,Zwick Zwick,university of california,None,None,
35041,592019.0,Zwicker Zwicker university of california,Zwicker Zwicker,university of california,None,None,
35042,592030.0,Zych Zych university of california,Zych Zych,university of california,None,None,